.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# personal notes
content/private/

# templates
content/templates/

# daily notes
content/1. Daily/
content/2. Weekly/
content/3. Monthly/
content/4. Yearly/